<form class="card needs-validation" novalidate [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName"
            [class.is-invalid]="employeeForm.get('firstName').invalid && (employeeForm.get('firstName').dirty || employeeForm.get('firstName').touched)"
            [class.is-valid]="employeeForm.get('firstName').valid && (employeeForm.get('firstName').dirty)">
        <div *ngIf="employeeForm.controls['firstName'].errors && employeeForm.controls['firstName'].errors['required']"
            class="invalid-feedback">First Name is
            required.</div>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName"
            [class.is-invalid]="employeeForm.get('lastName').invalid && (employeeForm.get('lastName').dirty || employeeForm.get('lastName').touched)"
            [class.is-valid]="employeeForm.get('lastName').valid && (employeeForm.get('lastName').dirty || employeeForm.get('lastName').touched)">
        <div *ngIf="employeeForm.controls['lastName'].errors && employeeForm.controls['lastName'].errors['required']"
            class="invalid-feedback">Last Name is
            required.</div>
    </div>

    <div class="form-group">
        <label for="identity">Identity:</label>
        <input type="text" class="form-control" id="identity" formControlName="identity"
            [class.is-invalid]="employeeForm.get('identity').invalid && (employeeForm.get('identity').dirty || employeeForm.get('identity').touched)"
            [class.is-valid]="employeeForm.get('identity').valid && (employeeForm.get('identity').dirty || employeeForm.get('identity').touched)">
        <div *ngIf="employeeForm.controls['identity'].errors && employeeForm.controls['identity'].errors['required']"
            class="invalid-feedback">Identity is
            required.</div>
    </div>

    <div class="form-group">
        <label for="startWorkDate">Start Work Date:</label>
        <input type="date" class="form-control" id="startWorkDate" formControlName="startWorkDate"
            [class.is-invalid]="employeeForm.get('startWorkDate').invalid && (employeeForm.get('startWorkDate').dirty || employeeForm.get('startWorkDate').touched)"
            [class.is-valid]="employeeForm.get('startWorkDate').valid && (employeeForm.get('startWorkDate').dirty || employeeForm.get('startWorkDate').touched)">
        <div *ngIf="employeeForm.controls['startWorkDate'].errors && employeeForm.controls['startWorkDate'].errors['required']"
            class="invalid-feedback">Start Work
            Date is required.</div>
    </div>

    <div class="form-group">
        <label for="birthDate">Birth Date:</label>
        <input type="date" class="form-control" id="birthDate" formControlName="birthDate"
            [class.is-invalid]="employeeForm.get('birthDate').invalid && (employeeForm.get('birthDate').dirty || employeeForm.get('birthDate').touched)"
            [class.is-valid]="employeeForm.get('birthDate').valid && (employeeForm.get('birthDate').dirty || employeeForm.get('birthDate').touched)">
        <div *ngIf="employeeForm.controls['birthDate'].errors && employeeForm.controls['birthDate'].errors['required']"
            class="invalid-feedback">Birth Date is
            required.</div>
    </div>

    <div class="form-group">
        <label for="gender">Gender:</label>
        <select class="form-control" id="gender" formControlName="gender"
            [class.is-invalid]="employeeForm.get('gender').invalid && (employeeForm.get('gender').dirty || employeeForm.get('gender').touched)"
            [class.is-valid]="employeeForm.get('gender').valid && (employeeForm.get('gender').dirty || employeeForm.get('gender').touched)">
            <option [value]="genders[0]">Male</option>
            <option [value]="genders[1]">Female</option>
        </select>
        <div *ngIf="employeeForm.controls['gender'].errors && employeeForm.controls['gender'].errors['required']"
            class="invalid-feedback">Gender is
            required.</div>
    </div>


    <!-- <div class="form-group">
        <label>Roles:</label>
        <div *ngFor="let role of employeeForm.get('roles').getRawValue(); let i = index" class="d-flex align-items-center mb-2">
            <select class="form-control me-2" formControlName="{{ i }}.roleType">
                <option *ngFor="let roleType of roleTypes" [value]="roleType">{{ roleType }}</option>
            </select>
            <input type="date" class="form-control me-2" formControlName="{{ i }}.startDate">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="{{ 'isAdmin_' + i }}" formControlName="{{ i }}.isAdministrative">
                <label class="form-check-label" for="{{ 'isAdmin_' + i }}">Is Administrative</label>
            </div>
            <button type="button" class="btn btn-danger" (click)="removeRole(i)">Remove</button>
        </div>
        <button type="button" class="btn btn-success mt-2" (click)="addRole()">Add Role</button>
        <div *ngIf="employeeForm.get('roles').invalid && (employeeForm.get('roles').dirty || employeeForm.get('roles').touched)">
            <div *ngIf="employeeForm.get('roles').errors && employeeForm.get('roles').errors['required']" class="invalid-feedback">At least one role is required.</div>
        </div>
    </div> -->

    
    <div formArrayName="roles">
        <div *ngFor="let roleGroup of employeeForm.get('roles').value; let i = index">
            <div [formGroupName]="i" class="d-flex align-items-center mb-2">
                <select class="form-control me-2" formControlName="roleType">
                    <option *ngFor="let roleType of roleTypes" [value]="roleType.id">{{ roleType.name }}</option>
                </select>
                <input type="date" class="form-control me-2" formControlName="startDate">
                <button type="button" class="btn btn-danger" (click)="removeRole(i)">Remove</button>
                <label>
                    <input type="checkbox" formControlName="isAdministrative"> Management
                </label>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success mt-2" (click)="addRole()">Add Role</button>
    
    

    <button type="submit" class="btn btn-primary">Save</button>
</form>